@use '../../app/variables' as *;

.accordion {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    cursor: pointer;
  }

  &__content {
    overflow: hidden;
    height: 0;

    p {
      text-align: start;
      padding-bottom: 24px;
    }
  }
}
