//Font
$primary-font-color: #000000;
$secondary-font-color: #999999;
$tertiary-font-color: #ffffff;
$quaternary-font-color: #666666;

$font-stack: 'Poppins', sans-serif;

//Background
$primary-background-color: #fcf8fc;
$secondary-background-color: #ffffff;
$tertiary-background-color: #000000;
$label-background-color: #f2f2f2;

//Button
$primary-button-color: #00bafc;
$secondary-button-color: #e6f9ff;

// Borders and Dividers
$border-color: #e5e5e5;
$divider-color: #e5e5e5;

// Error
$error-color: #ff6969;
$success-color: #00bafc;
