.main {
  display: flex;
  gap: 50px;
  padding-top: 70px;
}

.menu {
  display: none;
}

@media (min-width: 708px) {
  .menu {
    display: block;
  }

  .page {
    margin-right: 64px;
  }

  .pageContainer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
