.header {
  height: 64px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  &__nav {
    display: none;
  }

  &__button {
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    background-color: white;
    top: 64px;
    left: 0;
    width: 100vw;
    z-index: 1;
    height: 100vh;
  }
}

@media (min-width: 708px) {
  .header__nav {
    display: block;
  }

  .header__button {
    display: none;
  }
}
